# 字节编译 / 优化 / DLL 文件
__pycache__/
*.py[cod]
*$py.class
 
# C 扩展
*.so
 
# 分发 / 打包
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
 
# PyInstaller
# 通常这些文件是由 python 脚本从模板写入的
# 在 PyInstaller 构建 exe 之前，以便注入日期/其他信息到其中
*.manifest
*.spec
 
# 安装程序日志
pip-log.txt
pip-delete-this-directory.txt
 
# 单元测试 / 覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
testlog/
 
# 翻译
*.mo
*.pot
 
# Django 相关
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
 
# Flask 相关
instance/
.webassets-cache
 
# Scrapy 相关
.scrapy
 
# Sphinx 文档
docs/_build/
 
# PyBuilder
target/
 
# Jupyter Notebook
.ipynb_checkpoints
 
# pyenv
.python-version
 
# celery beat 调度文件
celerybeat-schedule
 
# SageMath 解析文件
*.sage.py
 
# 环境变量
.env
.venv
env.bak/
venv.bak/
 
# Spyder 项目设置
.spyderproject
.spyproject
 
# Rope 项目设置
.ropeproject
 
# mkdocs 文档
/site
 
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
 
# Pyre 类型检查器
.pyre/
 
# pytype 静态类型分析器
.pytype/
 
# Cython 调试符号
cython_debug/

# 包含敏感数据的配置文件
config.yaml
*.env

# 私人文件
PDF_Files_zsk/
Results_Files_zsk/
TXT_Files_zsk/
new_workflow/txts_zsk/
new_workflow/pdfs_zsk/
旧版本_弃用/
